body{
    background: linear-gradient(30deg, rgb(216, 36, 12), 20%, rgb(63, 9, 77), 80%, rgb(5, 184, 145));
    background-attachment: fixed;
}
.center{
    text-align: center;
}
.maintxt{
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.resulttxt{
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.349);
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

button{
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.349);
    border-color: rgb(0, 0, 0);
    border-style: solid;
}
button:hover{
    color: rgb(99, 99, 99);
    background-color: rgba(0, 0, 0, 0.658);
}
button:active{
    color: rgba(255, 255, 255, 0.274);
    background-color: rgba(0, 0, 0, 0.185);
}


@media screen and (min-width: 425px) {
    .maintxt{
        font-size: 120px;
        text-shadow: 10px 10px 10px rgb(0, 0, 0);
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .resulttxt{
        font-size: 50px;
        text-size-adjust: 10px;
        margin: auto;
        margin-bottom: 30px;
        width: 600px;
        padding: 0px 14px 0px 14px;
        border-width: 3px;
        border-radius: 20px;
    }
    .column_1{
        width: 121.25px;
        height: 121.25px;
    }
    .column_2{
        width: 257.5px;
        height: 121.25px;
    }
    
    button{
        font-size: 60px;
        margin: 5px;
        border-width: 3px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 425px) {
    .maintxt{
        font-size: 50px;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
        margin-top: -5px;
        margin-bottom: 5px;
    }
    .resulttxt{
        font-size: 30px;
        text-size-adjust: 5px;
        margin: auto;
        margin-bottom: 15px;
        width: 290px;
        padding: 0px 7px 0px 7px;
        border-width: 1.5px;
        border-radius: 10px;
    }
    .column_1{
        width: 60.625px;
        height: 60.625px;
    }
    .column_2{
        width: 128.75px;
        height: 60.625px;
    }
    
    button{
        font-size: 30px;
        margin: 2.5px;
        border-width: 1.5px;
        border-radius: 10px;
    }
    div{
        width: 320;
    }
}
