*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 75px;
    margin-bottom: 75px;
}

input{
    font-size: 30px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.main{
    position: absolute;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.site_style input{
    font-size: 25px;
    width:80px;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

